<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>안전114 결함 탐지 시스템</title>
  <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
  <div class="main">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <div class="rectangle"></div>
        <div class="title">
          <div class="title-wrapper">
            <div class="this-is-your-wrapper">
              <p class="this-is-your">
                2차원 이미지의 결함을 분석하여 검출합니다.<br />* 약 5만 여장의 결함이 발생한<br />실제 이미지를 통해
                학습된 테스트 모델입니다.
              </p>
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="div">
            <div class="title-2">
              <p class="p">
                <span class="text-wrapper">Developer<br /></span>
                <span class="span">Yoon Tae-ho, Nam Sang-yoon<br /></span>
                <span class="text-wrapper"><br />Designer<br /></span>
                <span class="span">Jeon Jae-hong </span>
              </p>
            </div>
          </div>
        </div>
        <div class="title-3">
          <div class="title-wrapper">
            <div class="title-4"><div class="this-is-your-2">v.1.0.0</div></div>
          </div>
        </div>
        <div class="text-wrapper-2">© Elim Corp.</div>
        <div class="frame">
          <button class="button"><div class="primary-button"><a href="detect.html">시작하기</a></div></button>
        </div>
        <img class="layer" src="img/layer-1.svg" />
        <img class="img" src="img/image.svg" />
        <div class="title-5">
          <div class="title-6">
            <p class="this-is-your-3">컨볼루션 신경망(CNN) 시스템을 통한 딥 러닝 결함 분석/검출</p>
          </div>
        </div>
        <img class="element" src="img/114logo-1.png" />
      </div>
    </div>
  </div>
</body>
</html>